<!DOCTYPE html>
	<html lang="en">
	<head>
	</head>
	<body class="container">

		<header>
		</header>

		<main>
			<form name = "Connect" action="/auth/github" method="get">
				  <input type="submit" value="Connect">
			</form>
		</main>

	</body>
</html>
